image: node:18

cache:
  paths:
    - node_modules/

stages:
  - build
  - deploy

build:
  stage: build
  script:
    - npm ci
    - npm run build
  artifacts:
    paths:
      - dist/
    expire_in: 1 week

pages:
  stage: deploy
  dependencies:
    - build
  script:
    - rm -rf public
    - mv dist public
  artifacts:
    paths:
      - public
  only:
    - main
